NEXT_PUBLIC_DYNAMICENVID=

NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_MAJ_PROGRAM_ID=
NEXT_PUBLIC_SPL_FACTORY_PROGRAM_ID=

NEXT_PUBLIC_CHAIN=base_sepolia
